<div class="switcher" style="outline: 1px dashed var(--color-mid)">
  <div
    style="
      background: var(--color-light);
      padding: var(--space-m);
      outline: 1px dashed var(--color-mid);
    "
  >
    First panel
  </div>
  <div
    style="
      background: var(--color-light);
      padding: var(--space-m);
      outline: 1px dashed var(--color-mid);
    "
  >
    First panel
  </div>
  <div
    style="
      background: var(--color-light);
      padding: var(--space-m);
      outline: 1px dashed var(--color-mid);
    "
  >
    Second panel
  </div>
</div>
